.back-btn-container {
  max-width: 845px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.profile-details-box .profile-box-input {
  padding-left: 40px;
  margin-bottom: 25px;
}

.profile-box-input.sub {
  max-width: 60%;
}

.change-photo-container {
  padding-left: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.change-photo-container input[type="file"] {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.change-photo-container label.change-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.change-photo-container p {
  margin-left: 20px;
  color: var(--grey);
  font-size: var(--beta);
}
