.tb-container {
  display: flex;
  justify-content: space-between;
}

.tb-container .right {
  display: flex;
  align-items: center;
  position: relative;
}

.tb-container .right .profile-name {
  font-size: var(--beta);
  font-weight: var(--semi-bold);
  color: var(--black2);
  margin-left: 10px;
  margin-right: 10px;
}

.tb-container .right .arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--black2);
  transition: 0.2s all ease-in-out;
}

.arrow-down.rotate {
  transform: rotate(180deg);
}

.arrow-down.rotate-back {
  transform: rotate(360deg);
}
