.input-icon {
  width: 100%;
  position: relative;
}

.input-icon i {
  position: absolute;
  left: 14px;
  top: 20px;
  color: var(--grey);
}

.input-icon .input {
  padding-left: 40px;
}

.input {
  width: 100%;
  padding: 16px;
  padding-left: 14px;
  font-weight: var(--regular);
  font-family: var(--font-family);
  font-size: var(--zeta);
  color: var(--black);
  box-sizing: border-box;
  border: 1px solid var(--grey2);
  border-radius: var(--medium-border);
  outline: none;
}

.input-variant > * {
  font-size: var(--beta);
}

.input-variant ::-webkit-input-placeholder {
  color: var(--grey4);
}

.input-variant input {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 12px;
  color: var(--black);
}

.input-variant p {
  color: var(--grey4);
  margin-bottom: 4px;
}

.send-message-input {
  margin-bottom: 50px;
  padding: 16px;
  padding-right: 4px;
  border-radius: var(--medium-border);
  background-color: var(--grey5);
  display: flex;
  align-items: center;
  position: relative;
}

.send-message-input input {
  width: calc(100% - 50px);
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}

.send-message-input button {
  position: absolute;
  right: 6px;
  width: 40px;
  min-height: calc(100% - 10px);
  border-radius: var(--medium-border);
  outline: none;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.send-message-input button:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}
