.messenger-container {
  display: flex;
}

.friends-box,
.chat-box {
  padding: 10px;
  border-radius: var(--medium-border);
  border: 1px solid var(--grey3);
}

.friends-box {
  flex: 3;
  margin-right: 10px;
}

.chat-box {
  flex: 7;
}

.friends-box .sub-header,
.chat-box .sub-header {
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: var(--eta);
  font-weight: bold;
}

.friend-tile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 2px;
  border-radius: var(--small-border);
}

.friend-tile:hover {
  cursor: pointer;
}

.friend-tile.selected {
  background-color: var(--grey3);
}

.friend-tile .friend-name {
  margin-left: 28px;
  font-size: var(--gamma);
}
